<h3>Welcome, you are on the {{url}} page</h3>
<p>This is the demo of how to use left side navigation menu</p>
  <p aria-hidden="true" style="font-size:14px;">
    <br>
    The HTML Code as below.
    <code>
      <br>
      &lt;goax-sidebar (_change)="handleSelectMenuItem($event)"&gt;
      <br>
        &nbsp; &lt;goax-sidebar-item
          *ngFor="let item of items; let i=index"
      &nbsp;&nbsp;[active]="item.active"
      &nbsp;&nbsp;[name]="item.name"
      &nbsp;&nbsp;[displayname]="item.displayname"&gt;
      <br>
      &nbsp; &nbsp; &lt;ng-template *ngIf="item.subMenus" ngFor let-subMenu [ngForOf]="item.subMenus"&gt;
      <br>
      &nbsp; &nbsp; &nbsp; &lt;goax-sidebar-item
      <br>&nbsp; &nbsp; &nbsp; [active]="subMenu.active"
      <br>&nbsp; &nbsp; &nbsp; [name]="subMenu.name"
      <br>&nbsp; &nbsp; &nbsp; [displayname]="subMenu.displayname"
      <br>&nbsp; &nbsp; &nbsp; [url]="subMenu.url"&gt;
      <br>
      &nbsp; &nbsp; &nbsp;&lt;/goax-sidebar-item&gt;
      <br>
      &nbsp; &nbsp;&lt;/ng-template&gt;
      <br>
      &nbsp; &lt;/goax-sidebar-item&gt;
      <br>
      &lt;/goax-sidebar&gt;
    </code>
    <br/>


    For the full implementation on TS, refer: <a href="https://gist.github.com/vanessatran-ddi/00ec774da422c87cb36e67b49d0bace3" target="_blank">Here </a>
  </p>
